name: Dart CI

on:
  push:
    branches:
      - 'master'
      - 'test_consume_*'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.sdk == 'dev' }} # Don't fail the workflow if the only errors are in the dev channel
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, dev]
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Use pubspec.next deps
        run: rm -rf pubspec.yaml && mv pubspec.next.yaml pubspec.yaml

      - id: install
        name: Install dependencies
        run: dart pub get
        timeout-minutes: 2

      - name: Analyze project source
        run: dart analyze
        if: ${{ always() && steps.install.outcome == 'success' }}

      - name: Run tests (DDC)
        run: |
          dart run build_runner test -- -P concurrent-tests
          dart run build_runner test -- -P non-concurrent-tests
        timeout-minutes: 10
        if: ${{ always() && steps.install.outcome == 'success' }}

      - name: Run tests (dart2js)
        run: |
          dart run build_runner test -r -- -P concurrent-tests --file-reporter json:reports/${{ matrix.sdk }}/dart2js/concurrent/test-results.json
          dart run build_runner test -r -- -P non-concurrent-tests --file-reporter json:reports/${{ matrix.sdk }}/dart2js/non-concurrent/test-results.json
        timeout-minutes: 10
        if: ${{ always() && steps.install.outcome == 'success' }}

      - name: Upload Unit Test Results
        uses: actions/upload-artifact@v2
        if: ${{ steps.install.outcome == 'success' && (success() || failure()) }} # run this step even if previous step failed, but not if it was skipped
        with:
          name: test-results@${{ matrix.sdk }}
          path: reports/${{ matrix.sdk }}/**/*.json

      - name: Report Unit Test Results
        uses: dorny/test-reporter@v1
        if: ${{ always() && steps.install.outcome == 'success' }}
        with:
          name: Unit Test Results (${{ matrix.sdk }})
          path: 'reports/**/test-results.json'
          reporter: dart-json

  build_legacy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [ 2.13.4 ]
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - id: install
        name: Install dependencies
        run: pub get
        timeout-minutes: 2

      - name: Check formatting
        run: dart format . -l 120 --set-exit-if-changed
        if: ${{ always() && steps.install.outcome == 'success' }}

      - name: Analyze project source
        run: dartanalyzer .
        if: ${{ always() && steps.install.outcome == 'success' }}

      - name: Run tests (DDC)
        run: |
          pub run build_runner test -- -P concurrent-tests
          pub run build_runner test -- -P non-concurrent-tests
        timeout-minutes: 10
        if: ${{ always() && steps.install.outcome == 'success' }}

      - name: Run tests (dart2js)
        run: |
          pub run build_runner test -r -- -P concurrent-tests --file-reporter json:reports/${{ matrix.sdk }}/dart2js/concurrent/test-results.json
          pub run build_runner test -r -- -P non-concurrent-tests --file-reporter json:reports/${{ matrix.sdk }}/dart2js/non-concurrent/test-results.json
        timeout-minutes: 10
        if: ${{ always() && steps.install.outcome == 'success' }}

      - name: Upload Unit Test Results
        uses: actions/upload-artifact@v2
        if: ${{ steps.install.outcome == 'success' && (success() || failure()) }} # run this step even if previous step failed, but not if it was skipped
        with:
          name: test-results@${{ matrix.sdk }}
          path: reports/${{ matrix.sdk }}/**/*.json

      - name: Report Unit Test Results
        uses: dorny/test-reporter@v1
        if: ${{ always() && steps.install.outcome == 'success' }}
        with:
          name: Unit Test Results (${{ matrix.sdk }})
          path: 'reports/**/test-results.json'
          reporter: dart-json
